{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron">
<h4>Website developed by <strong>Manoj Buddha</strong></h4>

<!--<p>Email: <strong>manojnaidu001@gmail.com</strong></p>
<p>Contact: <strong>+91 9573429301</strong></p>-->

<a  href="https://github.com/manojbuddha" target="_blank"> <i class="fa fa-github" style="font-size:36px"></i></a>

<a href="https://linkedin.com/in/manoj-naidu-3696b3189" target="_blank"> <i class="fa fa-linkedin" style="font-size:36px"></i></a>

<hr class="my-4">

<h6>Technologies used</h6>
<ul>
<li>Python</li>
<li>Flask web framework</li>
<li>My SQL</li>
<li>HTML</li>
<li>CSS</li>


</ul>
</div>
{% endblock %}
