{% extends "base.html" %}
{% block content %}

<div class=container>
<br>

<h3  style="font-family:verdana"; "color:blue" >Welcome {{current_user.username.split()[0]}}</h3>

<div class="card text-center">
  <div class="card-header">
    Word of the day
  </div>
  <div class="card-body">
    <h5 class="card-title">{{word_of_day.split("-")[0]}}</h5>
    <p class="card-text">{{word_of_day.split("-")[1]}}</p>

	<!-- <a href="{{url_for("words.wordofday", word=word_of_day.split("-")[0])}}" class="btn btn-primary ">click to add word to your list</a> -->
  </div>
  <div class="card-footer text-muted">

  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add word to my list</h5>
        <p class="card-text">Click the below button to add word to your list.</p>
        <a href="{{url_for("words.add_word")}}" class="btn btn-primary">Add word</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View my words</h5>
        <p class="card-text">Click the below button to view all the words in your list.</p>
        <a href="{{url_for("words.my_words")}}" class="btn btn-primary">My words</a>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
{% endblock %}